## Average versus median

You now know how to use numpy functions to get a better feeling for your data. It basically comes down to importing numpy and then calling several simple functions on the numpy arrays:

import numpy as np
x = [1, 4, 8, 10, 12]
np.mean(x)
np.median(x)

The baseball data is available as a 2D numpy array with 3 columns (height, weight, age) and 1015 rows. The name of this numpy array is np_baseball. After restructuring the data, however, you notice that some height values are abnormally high. Follow the instructions and discover which summary statistic is best suited if you're dealing with so-called outliers.

Instructions
-Create numpy array np_height that is equal to first column of np_baseball.
-Print out the mean of np_height.
-Print out the median of np_height.

In [22]:
# Import numpy
import numpy as np
import pandas as pd

In [23]:
# np_baseball is available
np_baseball = pd.read_csv("baseball.csv")
np_baseball.head(5)

              Name Team       Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL        Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL        Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL        Catcher      72     210  30.78     Catcher
3     Kevin_Millar  BAL  First_Baseman      72     210  35.43   Infielder
4      Chris_Gomez  BAL  First_Baseman      73     188  35.71   Infielder

In [24]:
# Create np_height from np_baseball
height = np_baseball.iloc[:,3]
np_height = np.array(height)

In [25]:
# Print out the mean of np_height
print(np.mean(np_height))

73.6896551724138

In [26]:
# Print out the median of np_height
print(np.median(np_height))

74.0